# Archivo: /traduci-tu-laburo/.gitignore

# Python / Backend
backend/venv/
__pycache__/
*.pyc

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Archivos de Secretos (¡MUY IMPORTANTE!)
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?